<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Passive income, finance, and crypto blog." />
    {{!-- <link rel="canonical" href={canonicalUrl} /> --}}
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="icon" href="/favicon.ico" />

    <meta property="og:locale" content="en_US" />
    <meta property="og:site_name" content="BigWallets - Personal Finance, Passive Income, and Crypto News" />
    {{!-- <meta property="og:type" content={ogType} /> --}}
    <meta property="og:description" content="Passive income, finance, and crypto blog." />
    {{!-- <meta property="og:image" content={ogImgUrl} />
    <meta property="og:url" content={canonicalUrl} /> --}}

    {{!-- 
    <Script async src=https://www.googletagmanager.com/gtag/js?id=tracking-id />
    <Script 
      async
      strategy="beforeInteractive"
      dangerouslySetInnerHTML={{
      __html: 
        `window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', gtag-id);`
    }}/>

    <Script
      id="Adsense-id"
      data-ad-client="ca-pub-987************676"
      async
      strategy="beforeInteractive"
        src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"
    /> 
    --}}

    <title>BigWallets - Personal Finance, Passive Income, and Crypto News</title>
  </head>
  <body>
    <h1>Main.handlebars</h1>
    {{{body}}}
  </body>
  <footeR>
    <p>Footer</p>
  </footeR>
</html>